.landing-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orb-trigger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.orb-trigger:hover {
  transform: scale(1.1);
}
